<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716144658636-65r4k8ve8lm9huhdk7f298gk4jq447ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716144658636-65r4k8ve8lm9huhdk7f298gk4jq447ft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>716144658636-5smjl1ctcoa18orvibk0kl523s4htpi1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATfwlCSpVAk0DQpOGP4JgK38B0c_YMyRU</string>
	<key>GCM_SENDER_ID</key>
	<string>716144658636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.brebit.210824</string>
	<key>PROJECT_ID</key>
	<string>brebit-1939d</string>
	<key>STORAGE_BUCKET</key>
	<string>brebit-1939d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716144658636:ios:67a2614df963882ebc1a69</string>
</dict>
</plist>